<?php 

require_once('../db.php');
$konekcija=(new mysqlconnector())->connectToMysql();
session_start();
include "header.html";
?>

<?php //
//
//if(isset($_SESSION["picture"])){
//    echo $_SESSION["picture"];
//}
// ?>

<?php

    $sql="SELECT profile_image, first_name, last_name FROM users WHERE active=1";

    $rezultat=mysqli_query($konekcija, $sql);

    $row = mysqli_fetch_assoc($rezultat);

    echo "<p><img src='" . $row['profile_image'] . "' height=200 width=150  ></p>
    <h2><a href='profile.html'> " . $row['first_name'] . " " . $row['last_name'] .  "</a></h2></form>";


    ?>
    <form action="../uploadslika.php" method='POST' enctype="multipart/form-data">
        Select image to upload
        <input type="hidden" name='size' value='100000'>

        <input type="file" name='image'>

        <input type='submit' name="upload" value='Upload image'>


    </form>

    <form action= "../postovanjesaprofila.php" method="post" enctype="multipart/form-data">
        <h3>Create a new post</h3>
        <textarea name="post-profil" cols='60' rows='5' placeholder="Post content....."></textarea>
        <input type="submit" value="post" name="submit">

    </form>

    <form action='photovideo.html' method='post' name='lajk'><button>Upload photo or video</button></form>
<?php



$user_id="SELECT id FROM users WHERE active=1";
$userid=mysqli_query($konekcija, $user_id);

//if(mysql_num_rows($userid) <0){
//    echo "no results";
//}else{
$ovono = mysqli_fetch_assoc($userid);
$loggedId= implode($ovono);

$proba="SELECT users.profile_image, users.first_name, users.last_name, posts.content, posts.description, posts.likes,  posts.created_time, posts.idp FROM users INNER JOIN posts ON users.id=posts.user_id WHERE users.id='$loggedId' ORDER BY posts.created_time  DESC";
$rezultat=mysqli_query($konekcija, $proba);



while(($row = mysqli_fetch_assoc($rezultat))) {
    $podaci[] = $row;
}

if (empty($podaci)) {
    echo "<p>There are no data to display.</p>";
} else {

foreach($podaci as $row){
// Display post details
echo "<p><img src='" . $row['profile_image'] . "' height=50 width=40  >
    <a href='profile.html'>" . $row['first_name'] . " " . $row['last_name'] . "</a></p>";

if (strpos($row['content'], 'slike/') !== false) {
// If the content is an image path, display the image
echo "<p><img src='" . $row['content'] . "' width='400' height='250'></p>";
echo "<p>" . $row['description'] . "</p>";
} else {
// If the content is a string, display it
echo "<p>" . $row['content'] . "</p>";
}

// Display post information
echo "<p><i>Date: <b>" . $row['created_time'] . "</b></i></p>
<p>Likes: <b>" . $row['likes'] . "</b></p>";

// Check if user has already liked the post
$sql_check = "SELECT * FROM likes WHERE user_id = " . $loggedId . " AND post_id = " . $row['idp'];
$result_check = mysqli_query($konekcija, $sql_check);

// Display the like or unlike button based on whether the user has already liked the post
if (mysqli_num_rows($result_check) > 0) {
echo "<form action='../unlikesaprofila.php' method='post' name='unlike'>
    <input value=".$row['idp']." name='id' hidden>
    <button>Unlike</button>
</form>";
} else {
echo "<form action='../lajkovanje_sa_profila.php' method='post' name='like'>
    <input value=".$row['idp']." name='id' hidden>
    <button>Like</button>
</form>";
}

// Display comment and delete buttons
echo "<form action='comment.html' method='get' name='comment'>
    <input value=" .$row['idp']." name='id' hidden>
    <button>Comment</button>
</form>
<form action='../brisanje_podataka.php' method='post'>
    <input value=".$row['idp']." name='id' hidden>
    <button>Delete</button>
</form>";
}



}
    ?>



<?php include "footer.html"; ?>